*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: url("dark%207.jpg");
    background-size: cover;
}
.nav{
    height: 60px;
    width: 100%;
    background-color: rgb(37, 37, 37);
    color: white;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 700;
}
header .menu{
    margin-top: 10px;
    height: 30px;
    width: 100%;
}
.menu #menuLogo{
    display: inline-block;
    position: relative;
    left: 7px;
}
#menuLogo i{
    font-size: 26px;
    color: white;
    filter: drop-shadow(0px 0px 10px rgba(14, 50, 255, 0.726));
}
#menuLogo i:hover{
    cursor: pointer;
}
.language{
    
    height: 40px;
    width: 200px;
    position: absolute;
    right: 2px;
    top: 67px;
    display: flex;
    justify-content: space-around;
}
.language div{
    height: 100%;
    width: 40%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    cursor: pointer;
}
.computer-lang{
    height: 40px;
    width: 200px;
    border: 2px solid white;
    
}

@media (max-width: 768px) {
    .nav {
        font-size: 25px; 
    }
    .language {
        width: 100%;
        justify-content: center;
    }
}
